* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../public/font/RobotoMono-Regular.woff2);
}

:root {
  --ff: "Roboto Mono";
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.75rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff);
  line-height: 1.5;
  font-size: var(--fs-400);
  background-color: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 6%);
  min-width: 320px;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

.container {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    max-width: 25rem;
    margin-top: 10vw;
  }
}

h1 {
  font-size: var(--fs-500);
  margin-bottom: var(--fs-500);
}

ul {
  list-style-position: inside;
}

footer {
  font-size: var(--fs-300);
}
